In [26]:
# https://www.youtube.com/watch?v=4eFaWM6m-wk

from pyspark.sql import SparkSession

spark = SparkSession \
   .builder  \
   .appName("Aula Interativa 1 - Engenharia de Dados - Apache Spark") \
   .getOrCreate()

df = spark.read.csv("arquivos/aula1-2-skip-rows.csv",header=True)

df.show()

+---------------+
|pre-cabecalho-1|
+---------------+
|pre-cabecalho-2|
|pre-cabecalho-3|
|             id|
|              1|
|              2|
|              3|
|              4|
|              5|
+---------------+

In [27]:
rdd = spark.sparkContext.textFile("arquivos/aula1-2-skip-rows.csv")
rdd.collect()

['pre-cabecalho-1',
 'pre-cabecalho-2',
 'pre-cabecalho-3',
 'id,nome,cidade',
 '1,pedro,belo horizonte',
 '2,maria,rio de janeiro',
 '3,josé,são paulo',
 '4,ricardo,fortaleza',
 '5,samuel,salvador']

In [28]:
final_rdd = rdd.zipWithIndex().filter(lambda x: x[1] > 2).map(lambda a :a[0].split(","))
final_rdd.collect()

[['id', 'nome', 'cidade'],
 ['1', 'pedro', 'belo horizonte'],
 ['2', 'maria', 'rio de janeiro'],
 ['3', 'josé', 'são paulo'],
 ['4', 'ricardo', 'fortaleza'],
 ['5', 'samuel', 'salvador']]

In [29]:
# get columns into list to create DataFrame
columns = final_rdd.collect()[0]
columns

['id', 'nome', 'cidade']

In [30]:
# skip header/columns from data 

columns = final_rdd.first() #extract header for filter that row
data = final_rdd.filter(lambda col: col != columns)   #filter out header
data.collect()

[['1', 'pedro', 'belo horizonte'],
 ['2', 'maria', 'rio de janeiro'],
 ['3', 'josé', 'são paulo'],
 ['4', 'ricardo', 'fortaleza'],
 ['5', 'samuel', 'salvador']]

In [31]:
data.toDF(columns).show()

+---+-------+--------------+
| id|   nome|        cidade|
+---+-------+--------------+
|  1|  pedro|belo horizonte|
|  2|  maria|rio de janeiro|
|  3|   josé|     são paulo|
|  4|ricardo|     fortaleza|
|  5| samuel|      salvador|
+---+-------+--------------+